// VARIABLES
$colorverde: #149B49;
$colorrojo: #F10303; 

//MIXIN
@mixin size ($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

body{
    padding: 0;
    margin: 0;
}

/* INDEX */
/* Menú */
.color-nav{
    background-color: $colorverde;
}

li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
#imagen-fondo{
    background-image: url(../resources/foto_principal_00.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.redes{
    width: 20px;
    height: 20px;
}

/* SECCIÓN HISTORIA */
.cuadro_color{
    background-color: white;
}

/* Animaciones */
#curiosidades div{
    background-image: linear-gradient(to bottom, #0b7034, $colorverde);
    margin: 70px 45px;
    padding: 35px;
}
.circulo_1{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    opacity: 30%;
    position: absolute;
    left: 10%;
    animation: movimiento1 3s linear infinite;
}
@keyframes movimiento1{
    0%{top: 0; opacity: 30%;}
    30%{opacity: 0;}
    60%{opacity: 50%;}
    100%{top: 100vh; opacity: 0;}
}
.circulo_2{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    opacity: 30%;
    position: absolute;
    left: 30%;
    animation: movimiento2 3s linear infinite;
}
@keyframes movimiento2{
    0%{bottom: 0; opacity: 25%;}
    30%{opacity: 0;}
    60%{opacity: 45%;}
    100%{bottom: 100vh; opacity: 0;}
}
.circulo_3{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    opacity: 30%;
    position: absolute;
    left: 45%;
    animation: movimiento3 5s linear infinite;
}
@keyframes movimiento3{
    0%{top: 0; opacity: 15%;}
    30%{opacity: 0;}
    60%{opacity: 40%;}
    100%{top: 100vh; opacity: 0;}
}
.circulo_4{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    opacity: 30%;
    position: absolute;
    left: 65%;
    animation: movimiento4 4s linear infinite;
}
@keyframes movimiento4{
    0%{bottom: 0; opacity: 20%;}
    30%{opacity: 0;}
    60%{opacity: 50%;}
    100%{bottom: 100vh; opacity: 0;}
}
.circulo_5{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    opacity: 30%;
    position: absolute;
    left: 80%;
    animation: movimiento5 5s linear infinite;
}
@keyframes movimiento5{
    0%{top: 0; opacity: 30%;}
    30%{opacity: 0;}
    60%{opacity: 50%;}
    100%{top: 100vh; opacity: 0;}
}

// Map Animaciones

$rojo1: #990303;
$rojo2: #d81111;
$rojo3: #f84444;

$colores: (
    rojooscuro: $rojo1,
    rojomedio: $rojo2,
    rojoclaro: $rojo3    
);

@each $color, $valor in $colores {
    .circle--#{$color} {
    background-color: $valor;
    }
}


/* SECCIÓN RECETAS */
.fondo-contenedor{
    background-color: black;
}
#fondo-receta{
    background-color: white;
}
.color-boton{
    background-color: $colorrojo;
}
/* EXTEND
.color-boton-cambio{
    @extend .color-boton;
    border: 3px solid black;
}*/

/* Páginas de RECETAS */
.receta{
    background-color: black;
    color: white;
&__aclaracion{
    color: $colorrojo;
}
}



/* SECCIÓN POR EL MUNDO */
.mundo{
    background-color: black;
&__blanco{
    background-color: white;
}
&__bandera{
    @include size (68px, 44px);
}
&__pais{
    background-color: $colorverde;
    color: white;
    width: 130px;
    border-radius: 50px;
}
}


/* SECCIÓN CONTACTO */
.fondo-contacto{
    background-image: url(../resources/foto_principal_00.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
#fondo-formulario{
    background-color: $colorrojo;
}




    
