@charset "UTF-8";
body {
  padding: 0;
  margin: 0; }

/* INDEX */
/* Menú */
.color-nav {
  background-color: #149B49; }

li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white; }

#imagen-fondo {
  background-image: url(../resources/foto_principal_00.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%; }

.redes {
  width: 20px;
  height: 20px; }

/* SECCIÓN HISTORIA */
.cuadro_color {
  background-color: white; }

/* Animaciones */
#curiosidades div {
  background-image: linear-gradient(to bottom, #0b7034, #149B49);
  margin: 70px 45px;
  padding: 35px; }

.circulo_1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  opacity: 30%;
  position: absolute;
  left: 10%;
  animation: movimiento1 3s linear infinite; }

@keyframes movimiento1 {
  0% {
    top: 0;
    opacity: 30%; }
  30% {
    opacity: 0; }
  60% {
    opacity: 50%; }
  100% {
    top: 100vh;
    opacity: 0; } }

.circulo_2 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  opacity: 30%;
  position: absolute;
  left: 30%;
  animation: movimiento2 3s linear infinite; }

@keyframes movimiento2 {
  0% {
    bottom: 0;
    opacity: 25%; }
  30% {
    opacity: 0; }
  60% {
    opacity: 45%; }
  100% {
    bottom: 100vh;
    opacity: 0; } }

.circulo_3 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  opacity: 30%;
  position: absolute;
  left: 45%;
  animation: movimiento3 5s linear infinite; }

@keyframes movimiento3 {
  0% {
    top: 0;
    opacity: 15%; }
  30% {
    opacity: 0; }
  60% {
    opacity: 40%; }
  100% {
    top: 100vh;
    opacity: 0; } }

.circulo_4 {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  opacity: 30%;
  position: absolute;
  left: 65%;
  animation: movimiento4 4s linear infinite; }

@keyframes movimiento4 {
  0% {
    bottom: 0;
    opacity: 20%; }
  30% {
    opacity: 0; }
  60% {
    opacity: 50%; }
  100% {
    bottom: 100vh;
    opacity: 0; } }

.circulo_5 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  opacity: 30%;
  position: absolute;
  left: 80%;
  animation: movimiento5 5s linear infinite; }

@keyframes movimiento5 {
  0% {
    top: 0;
    opacity: 30%; }
  30% {
    opacity: 0; }
  60% {
    opacity: 50%; }
  100% {
    top: 100vh;
    opacity: 0; } }

.circle--rojooscuro {
  background-color: #990303; }

.circle--rojomedio {
  background-color: #d81111; }

.circle--rojoclaro {
  background-color: #f84444; }

/* SECCIÓN RECETAS */
.fondo-contenedor {
  background-color: black; }

#fondo-receta {
  background-color: white; }

.color-boton {
  background-color: #F10303; }

/* EXTEND
.color-boton-cambio{
    @extend .color-boton;
    border: 3px solid black;
}*/
/* Páginas de RECETAS */
.receta {
  background-color: black;
  color: white; }
  .receta__aclaracion {
    color: #F10303; }

/* SECCIÓN POR EL MUNDO */
.mundo {
  background-color: black; }
  .mundo__blanco {
    background-color: white; }
  .mundo__bandera {
    width: 68px;
    height: 44px; }
  .mundo__pais {
    background-color: #149B49;
    color: white;
    width: 130px;
    border-radius: 50px; }

/* SECCIÓN CONTACTO */
.fondo-contacto {
  background-image: url(../resources/foto_principal_00.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%; }

#fondo-formulario {
  background-color: #F10303; }
